[submodule "roles/environment-core"]
	path = roles/environment-core
	url = git@github.com:svo/environment-core.git
[submodule "roles/environment-docker"]
	path = roles/environment-docker
	url = git@github.com:svo/environment-docker.git
[submodule "roles/environment-clojure"]
	path = roles/environment-clojure
	url = git@github.com:svo/environment-clojure.git
[submodule "roles/environment-monitoring"]
	path = roles/environment-monitoring
	url = git@github.com:svo/environment-monitoring.git
[submodule "roles/environment-nodejs"]
	path = roles/environment-nodejs
	url = git@github.com:svo/environment-nodejs.git
